$black: black;
$white: white;
$black-035: rgba(0, 0, 0, 0.35);
$black-045: rgba(0, 0, 0, 0.45);
$black-075: rgba(0, 0, 0, 0.75);
$grey-1: #1b1b1b;
$grey-2: #828282;
$grey-3: rgba(51, 51, 51, 0.3);
$green-035: rgba(40, 167, 69, 0.35);
$green-1: #5cb85c;
$green-2: #0f401b;
$red-035: rgba(220, 53, 69, 0.35);
$red-1: #d9534f;
$red-2: #7c151f;
$orange-035: rgba(255, 193, 7, 0.35);
$orange-1: #f0ad4e;
$orange-2: #876500;
$blue-035: rgba(23, 162, 184, 0.35);
$blue-1: #5bc0de;
$blue-2: #093e47;