.App {
  text-align: center;
}

.mx-auto {
  margin: auto 0;
}

.container {
  max-width: 900px;
}

.alert {
  width: 400px;
  margin: 1rem auto;
  padding: 1.25rem;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.95rem rgba(0, 0, 0, 0.45);
  /* Closing alert */
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-close {
  width: 100%;
  display: inline-block;
  align-items: center;
}

.alert-close span {
  float: left;
}

.alert-success {
  background: rgba(40, 167, 69, 0.35);
  border: 1px solid #5cb85c;
  color: #0f401b;
}

.alert-danger {
  background: rgba(220, 53, 69, 0.35);
  border: 1px solid #d9534f;
  color: #7c151f;
}

.alert-warning {
  background: rgba(255, 193, 7, 0.35);
  border: 1px solid #f0ad4e;
  color: #876500;
}

.alert-info {
  background: rgba(23, 162, 184, 0.35);
  border: 1px solid #5bc0de;
  color: #093e47;
}

.btn {
  margin: 0.25rem 0.125rem;
  padding: 0.35rem 1.25rem;
  font-family: inherit;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.6px;
  border-radius: 0.3rem;
  color: #fff;
  background-color: #000;
  border: none;
  box-shadow: 0 2px 5px rgba(51, 51, 51, 0.3);
  transition: 0.3s ease;
}

.btn:hover {
  cursor: pointer;
  box-shadow: none;
  transition: 0.3s ease;
  background: rgba(0, 0, 0, 0.75);
}

/* Close btn*/
.btn-close {
  margin: 0rem;
  font-size: 1.25rem;
  background-color: transparent;
  color: #1b1b1b;
  font-size: bolder;
  box-shadow: none;
  padding: 0;
  float: right;
}

.btn-close:hover {
  color: #828282;
  background: initial;
}

.fadeAlert {
  animation: fadeAlert 0.8s ease-in-out;
}

@keyframes fadeAlert {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}